//colors

$color-primary: #fedc3d;
$color-primary-light: #f7ef6a;
$color-primary-dark: #ffb900;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark-1: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;
$color-grey-dark-4: #222;

$color-white: #fff;
$color-black: #000;


//font
$default-font-size: 1.6rem;

//grid
//$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-horisontal: 8rem;

//shadows

$shadow-far: 0 2rem 6rem rgba(0,0,0,.3);
