//colors


$color-primary: #f9d423;
$color-primary-light: #fffc4d;
$color-primary-dark: #ff4e50;

$color-grey-light-1: #fafafa;
$color-grey-light-2: #eee;
$color-grey-dark-1: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;
$color-grey-dark-4: #222;

$color-white: #fff;
$color-black: #000;


//font
$default-font-size: 1.6rem;

//grid
//$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-horisontal: 8rem;

//shadows

$shadow-far: 0 1.5rem 4rem rgba(0,0,0,.2);
