.reviews{
    background-color: $color-primary;
    width: 100%;
    padding: 10rem 0;
}

.reviews-box{
   
    width: 60%;
    margin: 0 auto;
    //background-color: blue;
    

    @include clearfix;
}

.review__photo-shape{
    width: 15rem;
    height: 15rem;
    float: left; 
    clip-path: circle(50% at 50% 50%);
    box-shadow: $shadow-far;
    margin-right: 3rem;
    
}

.review__photo{
   transform: translateX(-3.5rem);
   height: 100%;  
   
}

.review__text{
    float: left;    
    width: 70%;
    padding: 2rem;
    //background-color: antiquewhite;
    font-size: 1.7rem;
    color: $color-grey-dark-2;
    text-align: center;
    
}