.reviews {
    background-color: $color-primary;
    padding: 3rem auto;
    height: 35rem;
    position: relative;

    &__wrapper {
        width: 50rem;
        @include absCent;
    }
}

.review {

    
    &__text {
        font-size: 1.7rem;
        color: $color-white;
        text-align: center;
    
    }

    &__name {
        
        font-size: 3rem;
        font-weight: 700;
    }

    &__company {
        font-weight: 700;
    }

    &__content {
        margin-top: 1.4rem;
        color: $color-grey-light-1;
    }
}
