.video{
  width: 100%;
  height: 80vh;
  position: relative;
  z-index: 2;
}

.bg-video{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .27; 
    overflow: hidden;
}
.bg-video_content{
    height: 100%;
    width: 100%;
    object-fit: cover;  
}

.video__text-box{
    @include absCent;
    text-align: center;
    display: inline-block;
    
    & p{
        margin-bottom: 5rem;
    }
}