.card {
    margin: 0 auto;
    height: 46rem;
    padding: 3rem;
    max-width: 35rem;
    max-height: 50rem;
    background-color: #fff;
    box-shadow: $shadow-far;
    border-radius: 5px;

    &__top {
        width: 8rem;
        margin: 0 auto;
	    position: relative;
    }

    &__body {
        text-align: center;
    }

    &__list {
        margin: 2rem 0;
        font-size: 1.6rem;
        list-style-type: none;

    }

    &__currency {
        position: absolute;
        top: 1rem;
        right: 100%;
        //margin-right: 4px;
        font-size: 2rem;
    }

    &__price {
        font-size: 5rem;
        font-weight: bold;
    }

    &__month {
        position: absolute;
        bottom: 1rem;
        left: 100%;
        margin-left: 4px;
        font-size: 2rem;
    }
    
}
