.form {
    //margin-bottom: 3rem;
    margin-top: 1rem;

    &__tittle {
        
        font-size: 1.6rem;
        font-weight: 400;
        text-transform: uppercase;
        color: $color-grey-dark-2;

    }

    &__ul {
        text-align: center;
    }

    &__li {
        display: inline;
        list-style-type: none;
    }

}


input,
textarea {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    margin-bottom: 1rem;
    resize: none;
    background-color: rgba(255, 255, 255, 0.4);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: $color-grey-dark-2;

    &:focus {
        outline: none;
        box-shadow: 0 0 5px $color-primary-light;
    }

    &::-webkit-input-placeholder {
        color: $color-grey-dark-1;
    }

    &:-moz-placeholder {
        color: $color-grey-dark-1;
    }
}

textarea {
    height: 10rem;
}