form {
    margin-bottom: 3rem;
}

input, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 6px;
    resize: vertical;
    background-color: rgba(255, 255, 255, 0.781)
}